html {
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* ヘッター */
header {
  padding: 27px 0;
}

.logo img{
  width: 200px;
  height: 100px;
  display: block;
  object-fit: contain;
  border-radius: 10px;
}

.header_menu li {
  margin-left: 40px;
  font-size: 16px;
}

.header_menu li a {
  transition: .3s;
}
.header_menu li a:hover {
  color: #80BA4A;
  transition: .3s;
}

/* メイン */
.main-visual {
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: center; /* ここが画像を中央に寄せます */
  margin: 0 auto;
}
.main-visual img {
  width: 80%; /* 必要なら適切に調整 */
  height: 100%;
  margin-bottom: 100px;
}

.category h2{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin: 100px 0 50px 0;
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px; /* カードの間隔 */
  margin-bottom: 100px;
}

.skill-box {
  flex: 1 1 calc(33.333% - 40px); /* 3カラム */
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.skill_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.skill_sub {
  font-size: 12px;
  color: #777;
  margin-bottom: 15px;
}

.skill_icon img {
  width: 60px;   /* アイコンサイズ調整 */
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}

.skill_list {
  font-size: 14px;
  line-height: 2.0;
  text-align: left;
}

.skill_list .icon {
  width: 1em;   /* 文字サイズと同じ大きさ */
  height: 1em;
  vertical-align: middle;
  margin-right: 6px;
}

/* Works */


.works_container {
  --item-width: 600px;
  --item-height: 300px;
  width: var(--item-width);
  position: relative;
  margin-bottom: 40px;
  /* 各パーツ配置をグリッドでレイアウト */
  display: grid;
  grid-template-areas: "item item item" "left markers right";
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 16px;
  justify-content: center;
}

/* ----------------------*
 * カルーセル
 * ----------------------*/
/* 親要素の設定 */
.gallery {
  width: 100%;
  overflow: hidden; /* 子要素がはみ出さないようにする */
}


/* 各アイテムの設定 */
.gallery_slide li {
  flex: 0 0 10%; /* 1つの画像が全体の4分の1の幅を取る */
  width: 100%; /* 幅を指定 */
}


/* スライダー部分の設定 */
.gallery_slide {
  display: flex;
  animation: slide 40s linear infinite; /* 40秒で1周する設定 */
}

.gallery_slide li {
  flex: 0 0 25%;
  width: 100%;
  height: 300px;           /* 高さを固定 */
  display: flex;           /* 中央揃え用 */
  align-items: center;     /* 縦方向センター */
  justify-content: center; /* 横方向センター */
  overflow: hidden;        /* 枠からはみ出す部分を隠す */
}

.gallery_slide li img {
  height: 100%;   /* 高さ100px以内に収める */
  width: 50%;        /* 横幅は自動調整して縦横比を維持 */
  object-fit: cover; /* 余白ありで収める場合 */
}

.item  {
  background-color: #80BA4A;
}

.btn {
	border-radius: 25px;
	position: relative;
}

.btn a::after {
	content: "";
	display: block;
	position: absolute;
	background-image: url('arrow.png');
	background-size: 100%;
	width: 7px;
	height: 17px;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
}

/* アニメーション（スライド） */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* フッター */

.footer_menu {
  text-align: center;
}

.footer_menu img {
  width: 200px;
  height: 100px;
  display: block;
  object-fit: contain;
  border-radius: 20px;
  text-align: center;
}

.footer_menu_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.footer_menu li {
  margin-left: 40px;
  font-size: 16px;
}

.footer_menu li a {
  transition: .3s;
}
.footer_menu li a:hover {
  color: #80BA4A;
  transition: .3s;
}
