html {
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* ヘッター */
header {
  padding: 27px 0;
}

.logo img{
  width: 150px;
  height: 100px;
  display: block;
  object-fit: contain;
  border-radius: 10px;
}

.header_menu li {
  margin-left: 40px;
  font-size: 16px;
}

.header_menu li a {
  transition: .3s;
}
.header_menu li a:hover {
  color: #80BA4A;
  transition: .3s;
}

/* メイン */
.main-visual {
  max-width: 100%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.main-visual img {
  width: 70%;
  height: 50%;
  margin-bottom: 50px;
}

.category h2{
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin: 100px 0 50px 0;
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 100px;
}

.skill-box {
  flex: 1 1 calc(33.333% - 40px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.skill_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.skill_sub {
  font-size: 12px;
  color: #777;
  margin-bottom: 15px;
}

.skill_icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}

.skill_list {
  font-size: 16px;
  line-height: 2.0;
  text-align: left;
}

.skill_list .icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 6px;
}


/* Works */


.works_container {
  --item-width: 600px;
  --item-height: 300px;
  width: var(--item-width);
  position: relative;
  margin-bottom: 40px;
  display: grid;
  grid-template-areas: "item item item" "left markers right";
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 16px;
  justify-content: center;
}

/* ----------------------*
 * カルーセル
 * ----------------------*/
.gallery {
  width: 100%;
  overflow: hidden;
}

.gallery_slide li {
  flex: 0 0 10%;
  width: 100%;
}


.gallery_slide {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.gallery_slide li {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #908e8ee1;
}

.gallery_slide li img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.gallery_layout {
  width: 260px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: #FFF;
  border: solid 1px #000000;
}

.gallery_layout h3{

margin: 10px 0;
}

.gallery_layout p{
margin: 10px 0;
font-size: 10px;
}

.item {
  display: block;
  width: 100%;
  background-color: #80ba4a;
}

/* View more */

.btn {
	font-size: 14px;
	border: 1px solid #666;
	text-align: center;
	max-width: 200px;
	margin: 30px auto;
	font-family: 'Noto Serif JP', serif;
}
.btn a {
	color: #666;
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}


/* フッター */

footer {
  padding: 30px 0;
}

.footer_menu {
  justify-content:center ;
}

.footer_logo_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  font-size: 16px;
  align-items: center;
}

.footer_menu img {
  width: 200px;
  object-fit: contain;
  border-radius: 20px;
  text-align: center;
}

.footer_menu_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  font-size: 16px;
}

.footer_menu_flex li {
  margin-left: 40px;
}

.footer_menu_flex li a {
  transition: .3s;
}
.footer_menu_flex li a:hover {
  color: #80BA4A;
  transition: .3s;
}
